In [41]:
NameAge = """ Omkar  is 23, Apu is 24, Chaitu is 20 and Sonali is 21,
             Apura  is 23, Pratham is 24, Prathamesh  is 20 and Samruddhi is 21"""
print(NameAge)

 Omkar  is 23, Apu is 24, Chaitu is 20 and Sonali is 21,
             Apura  is 23, Pratham is 24, Prathamesh  is 20 and Samruddhi is 21

In [42]:
import re

In [43]:
Age = re.findall("\d{1,3}",NameAge)

In [44]:
Age

['23', '24', '20', '21', '23', '24', '20', '21']

In [45]:
Names = re.findall("[A-Z][a-z]*",NameAge)

In [46]:
Names

['Omkar',
 'Apu',
 'Chaitu',
 'Sonali',
 'Apura',
 'Pratham',
 'Prathamesh',
 'Samruddhi']

In [51]:
dic = {}
x = 0
for eachname in Names:
    dic[eachname] = Age[x]
    x = x+1

In [49]:
dic

{'Apu': '24',
 'Apura': '23',
 'Chaitu': '20',
 'Omkar': '23',
 'Pratham': '24',
 'Prathamesh': '20',
 'Samruddhi': '21',
 'Sonali': '21'}

In [15]:
import pandas as pd

In [17]:
x = pd.DataFrame({"Names":Names,"age":Age})

In [18]:
x

        Names age
0       Omkar  23
1         Apu  24
2      Chaitu  20
3      Sonali  21
4       Apura  23
5     Pratham  24
6  Prathamesh  20
7   Samruddhi  21

In [24]:
enumerate(Names)

In [35]:
len(Names)

8

# Find iterator

In [52]:
import re
str = "We need to inform him with the latest information"

In [55]:
for i in re.finditer("inform",str):
    loctup = i.span()
    print(loctup)

(11, 17)
(38, 44)

In [58]:
NameAge = """Omkar is 23, Apu is 24, Chaitu is 20 and Sonali is 21,
             Apura  is 23, Pratham is 24, Prathamesh  is 20 and Samruddhi is 21"""

In [59]:
for i in re.finditer("Apu",NameAge):
    loctup1 = i.span()
    print(loctup1)

(13, 16)
(68, 71)

In [67]:
str1 = "Sat,hat,mat,pat"

In [70]:
allstr = re.findall("[Shmp]at",str1)

In [71]:
allstr

['Sat', 'hat', 'mat', 'pat']

In [75]:
allstr = re.findall("[^h-m]at",str1) #apart from [h-m]
allstr

['Sat', 'pat']

In [79]:
# Replacement in regex
food = "rat cat mat bat"
regex = re.compile("[r]at")
regex.sub("food",food)

'food cat mat bat'

In [81]:
NameAge = """Omkar is 23, Apu is 24, Chaitu is 20 and Sonali is 21,
             Apura  is 23, Pratham is 24, Prathamesh  is 20 and Samruddhi is 21"""

In [86]:
xyz = re.compile("\d{2}")

In [87]:
xyz.sub("Chu",NameAge)

'Omkar is Chu, Apu is Chu, Chaitu is Chu and Sonali is Chu,\n             Apura  is Chu, Pratham is Chu, Prathamesh  is Chu and Samruddhi is Chu'

In [99]:
num =  "123 1234 12345 123456 1234567"
found = re.findall("\d{5,7}",num)
print(found)

['12345', '123456', '1234567']

In [100]:
email = "omkar@gmail.com aljfdklj.@gahg.com dc@.com sl@al.com"

In [109]:
re.findall("[\w._%+-]{1,20}@[\w.]{1,20}.[A-Za-z]{2,3}",email)

['omkar@gmail.com alj', 'fdklj.@gahg.com dc', 'sl@al.com']